@import url(common.css);

/* ------ TITLEBAR ------ */
.titlebar-sprite {
  --sprite-url: url(assets/skins/base-2.91/TITLEBAR.BMP);
  width: 275px;
  height: 14px;
  background-position: -27px 0px;
  cursor: url(assets/skins/base-2.91/TITLEBAR.CUR), default;
}

/* ------ /TITLEBAR ------ */

/* ------ MAIN ------ */
.main-sprite {
  --sprite-url: url(assets/skins/base-2.91/MAIN.BMP);
  width: 275px;
  height: 116px;
  background-position: 0px 0px;
}

/* ------ /MAIN ------ */

/* ------ VOLUME ------ */
.volume-sprite {
  --sprite-url: url(assets/skins/base-2.91/VOLUME.BMP);
  --sprite-x: 107px;
  --sprite-y: 57px;
  width: 65px;
  height: 14px;
  background-position: 0px -0px;
}

#volume {
  appearance: none;
  cursor: url(assets/skins/base-2.91/VOLBAL.CUR), default;
}

#volume::-webkit-slider-thumb {
  background: url(assets/skins/base-2.91/VOLUME.BMP);
  appearance: none;
  width: 14px;
  height: 11px;
  margin-bottom: 1px;
  background-position: -15px 11px;

}

#volume::-webkit-slider-thumb:active {
  background-position: 0px 11px;
}

/* #volume:focus {
  outline: none;
} */

/* ------ /VOLUME ------ */

/* ------ TEXT ------ */

.text-container {
  position: absolute;
  overflow: hidden;
  width: calc(31 * 5px * var(--zoom));
  height: calc(6px * var(--zoom));
  left: calc(var(--text-x) * var(--zoom));
  top: calc(var(--text-y) * var(--zoom));
}

#text {
  transform: translateX(calc(var(--x-shift) * var(--zoom)));
}

.letter-sprite {
  --sprite-url: url(assets/skins/base-2.91/TEXT.BMP);
  width: 5px;
  height: 6px;
  background-position: calc(-5px * var(--letter-idx-col)) calc(-6px * var(--letter-idx-row));
  --sprite-x: calc(var(--letter-col) * 5px)
}

/* ------ /TEXT ------ */

/* ------ CBUTTONS ------ */
.control-buttons-sprite {
  --sprite-url: url(assets/skins/base-2.91/CBUTTONS.BMP);
  --button-width: 23px;
  --button-height: 18px;
  --button-state: 0;
  width: var(--button-width);
  height: var(--button-height);
  background-position: 0px 0px;
  left: calc(var(--button-x) * var(--zoom));
  top: calc(var(--button-y) * var(--zoom));
}

input[type="button"],
.control-buttons-sprite {
  border: 0px;
  background-position: calc(var(--button-idx) * var(--button-width) * -1) 0px;
}

input[type="button"]:active,
.control-buttons-sprite {
  background-position: calc(var(--button-idx) * var(--button-width) * -1) calc(var(--button-height));
}


/* ------ /CBUTTONS ------ */